@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

@font-face {
    font-family: Sabon-Roman;
    src: url("../fonts/Sabon-Roman.otf");
}

@font-face {
    font-family: SabonGreek-Roman;
    src: url("../fonts/SabonGreek-Roman.ttf");
}

body {
    margin: 0 24px;
    background: #ddd;
    font: 16px/1.5 Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

header {
    position: relative;
    top: 0;
    z-index: 1;
}

header .container {
    background: rgb(118, 170, 214);
}

header .welcome {
    padding: 96px 144px 24px 48px;
    background: bottom right url(/assets/images/yak-outlined-1.png) no-repeat;
    overflow: hidden;
}

header h1 {
    font: 100px/1 Sabon-Roman, SabonGreek-Roman, EB Garamond, serif;
    color: #fff;
    text-shadow: 0 1px #000;
    margin: 0 36px 0 0;
    display: inline-block;
}

header p {
    font: 29px/1.5 Sabon-Roman, SabonGreek-Roman, EB Garamond, serif;
    text-rendering: optimizeLegibility;
    color: #000;
    margin: 0;
    display: inline-block;
}

header .interpreter,
code {
    font: 11px/16px Menlo, Monaco, Consolas, Courier New, monospace;
    background: rgb(8%, 13%, 17%);
    box-shadow: inset 0 2px 8px #000;
    color: #fff;
    overflow: auto;
}

pre code {
    display: block;
    padding: 12px;
}

code {
    padding: 4px 6px 2px 6px;
    vertical-align: 0.5px;
    color: #000;
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: none;
}

h2 code,
h3 code {
    font-size: 1em;
}

header .interpreter {
    display: none;
    height: 20em;
    padding: 12px 12px 12px 24px;
}

.interpreter > div {
    white-space: pre;
    min-height: 13px;
    position: relative;
}

.interpreter .help {
    color: #666;
}
.interpreter .print {
    color: #aaa;
}
.interpreter .output {
    color: #8c8;
}
.interpreter .error {
    color: #c88;
}
.interpreter .prompt {
    color: #fff;
}
.interpreter .prompt::before {
    content: '>';
    position: absolute;
    top: 0;
    left: -12px;
}

.interpreter .prompt .measure {
    visibility: hidden;
    z-index: -1;
    position: absolute;
    white-space: pre;
}

.interpreter .prompt textarea {
    position: relative;
    background: 0;
    border: 0;
    outline: 0;
    margin: 0 -12px 0 -24px;
    padding: 0 12px 0 24px;
    width: 100%;
    font: inherit;
    color: inherit;
    resize: none;
    vertical-align: top;
}

header nav {
    clear: both;
    position: relative;
    margin: 0 -12px;
    padding: 0 112px;
    text-align: center;
    background: rgb(82, 136, 182);
    box-shadow: 0 11px 3px -10px rgba(0, 0, 0, .3);
}

header nav::before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-top: rgb(47, 98, 141) 8px solid;
    border-left: transparent 12px solid;
    position: absolute;
    top: 100%;
    left: 0;
}

header nav::after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-top: rgb(47, 98, 141) 8px solid;
    border-right: transparent 12px solid;
    position: absolute;
    top: 100%;
    right: 0;
}

header a, header button {
    color: #fff;
    text-shadow: 0 1px #000;
    line-height: 48px;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
}

header a.active {
    box-shadow: inset 0 -4px rgb(47, 98, 141);
}

header a:hover,
header button:hover {
    /*background: rgb(51, 110, 160);*/
    background: rgb(60, 114, 160);
}

header a:active,
header button:active {
    background: rgb(47, 98, 141);
}

header button {
    display: none;
    outline: 0;
    border: 0;
    padding: 0;
    float: left;
    margin: 0 0 0 -100px;
    font: inherit;
    background: transparent;
    height: 48px;
    cursor: pointer;
}

article {
    min-height: 1000px;
    background: #fff;
    overflow: hidden;
    padding: 0 48px 48px;
}

article h1,
article h2 {
    font: 700 4em/1 Lato, HelveticaNeue-CondensedBold, HelveticaNeueCondensedBold, Helvetica Neue-Condensed Bold, Helvetica Neue Condensed Bold, Helvetica, Arial, sans-serif;
    margin: 48px 0 0;
}

article h2 {
    font-size: 3em;
}

.bookmark {
    position: relative;
    top: -144px;
}

article a {
    color: #05d;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

article a:active {
    color: #028;
}
