This file is a list of all primitives required by the Library functions found in the Library folder catagorized by library.

Notes:
----------------------------------------------
- The list only includes libraries for primitives that are to be implemented in Yak (String, Array, Funject, Global)

Free Funjects
----------------------------------------------
- by
- import

Funjects
----------------------------------------------
- .has?
- .append[k, v]
- .insert[i, k, v]
- .number?
- .string?
- .boolean?
- .symbol?
- .unknown?
- .nil?
- .list?
- .integer?
- .float?
- .is-member-of?[c]
- .is-king-of?[c]
- .to-string
- .inspect
- .silently
- .each[f]
- .keys
- .all-keys
- .keys-of[c]

Strings
----------------------------------------------
- * n
- + s
- [<number>]
- [<range>]
- .length
- .contains?
- .replace # Primitive for speed
- .replace-first #Primitive for speed
- .uppercase
- .lowercase
- .swapcase


Lists
----------------------------------------------
- somelist[index] # Should be list[index] => list sub index, currently it throws an error (at least in the CS interpreter) [HIGH PRIORITY]
- insert-at[index] [HIGH PRIORITY]
- delete[index] [HIGH PRIORITY]
